$red: #FC3401;
$blue: #03B9ED;
$gray: #F4F5F5;
$border: #E5E7EB;
$body-bg: #EEF4F9;
$blue-bg: #EEFAFF;
$text-gray: #9CA3AF;
$font-color:  #3B3D3F;
$shadow: rgba(0, 0, 0, 0.25);
$card-shadow: rgba(0, 0, 0, 0.1);