@import "./normalize.css";
@import "./queries.scss";
@import "./colors.scss";

body {
  font-size: 0.75rem;
  color: $font-color;
  background-color: $body-bg;
  font-family: Helvetica, Arial, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  &__box {
    width: 100%;
    background-color: white;
    box-shadow: 0 25px 50px -12px $shadow;
    
    @include medium() {
      width: 40%;
    }

    @include large-up() {
      width: 30%;
    }
  }
  
  &__detail {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    transition: 0.3s;
    background-color: $body-bg;
    transform: translateX(-100%);

    &--show {
      transform: translateX(0%);
    }

    @include medium-up() {
      width: 70%;
      overflow: hidden;
      position: static;
      height: max-content;
      transform: translateX(0%);
    }
  }

  &__return {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    background-color: white;
    border-bottom: 1px solid $border;

    @include medium-up() {
      display: none;
    }
  }

  &__icon {
    padding: 0 0.5rem;
    font-size: 1.5rem;
  }
}

.box-header {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid $border;

  &__section {
    display: flex;
    position: relative;
    align-items: center;
  }

  &__icon {
    padding: 0 0.5rem;
    font-size: 1.2rem;
  }

  &__count {
    color: white;
    margin: 0 0.5rem;
    border-radius: 9999px;
    padding: 0.3rem 0.7rem;
    background-color: $red;
    box-shadow:  0 2px 4px -1px $red;
  }
}

.dropdown {
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 0.5rem;
  font-weight: bold;
  color: $text-gray;
  align-items: center;
  border-radius: 0.3rem;
  border: 1px solid $border;
  background-color: white;

  &:hover {
    background-color: $gray;
  }

  &__text {
    padding: 0.5rem;
    border-right: 1px solid $border;
  }

  &__icon {
    color: $blue;
    font-size: 1rem;
    padding: 0 0.2rem 0 0.5rem;
  }

  &__list {
    top: 40px;
    right: 8px;
    padding: 0;
    width: 8rem;
    z-index: 100;
    list-style: none;
    position: absolute;
    border-radius: 0.3rem;
    border: 1px solid $border;
    background-color: white;
  }

  &__item {
    padding: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid $border;

    &:hover {
      background-color: $gray;
    }
  }
}

.box-search {
  display: flex;
  position: relative;
  padding: 1rem 0.5rem;
  justify-content: center;
  border-bottom: 1px solid $border;

  &__icon {
    top: 25px;
    right: 27px;
    font-size: 1rem;
    color: $text-gray;
    position: absolute;
  }
}

.input {
  width: 95%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid $border;
  box-shadow: 2px 2px 10px 1px $card-shadow;
}

.box-email {
  @include large-up() {
    height: 30rem;
    overflow-y: auto;
  }

  &__section {
    width: 70%;

    &--right {
      width: 30%;
    }
  }

  &__item {
    display: flex;
    transition: 0.2s;
    padding: 0.5rem 1rem;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    &:hover {
      cursor: pointer;
      background-color: $body-bg;
    }

    &:active {
      transform: scale(0.95);
    }

    &--active {
      background-color: $blue-bg;
      border-left: 3px solid $blue;
    }
  }

  &__name {
    font-weight: bold;

    &--active {
      color: $blue;
    }
  }

  &__body {
    display: box;
    line-clamp: 1;
    overflow: hidden;
    color: $text-gray;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__time {
    color: $text-gray;
    text-align: right;
  }

  &__icon {
    float: right;
    color: $text-gray;
    font-size: 0.85rem;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: $text-gray;
}

.detail-header {
  display: flex;
  padding: 0.9rem;
  justify-content: space-between;
  border-bottom: 1px solid $border;

  &__button {
    width: 80%;

    @include medium-up() {
      width: auto;
    }
  }
}

.button {
  opacity: 1;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  color: $text-gray;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid $border;
  background-color: transparent;

  &--primary {
    color: white;
    background-color: $blue;
  }
  
  &--delete {
    color: white;
    background-color: $red;
  }

  &:hover {
    opacity: 0.5;
  }
}

.detail-info {
  padding: 0.5rem 1.5rem;

  &__name {
    padding-bottom: 0.5rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid $border;
    background-color: white;
    box-shadow: 2px 2px 10px 1px $card-shadow;
  }

  &__item-tag {
    margin: 0.5rem;
    color: $text-gray;
    font-weight: bold;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid $border;

    & > p {
      margin: 0.2rem;
    }
  }

  &__body {
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid $border;
    background-color: white;
    border-radius:  0.3rem 0.3rem 0 0;
    box-shadow: 2px 2px 10px 1px $card-shadow;

    & > p {
      font-size: 0.85rem;
      text-align: justify;
      line-height: 1.3rem;
    }
  }

  &__file {
    display: flex;
    flex-wrap: wrap;
  }

  &__item-file {
    opacity: 1;
    display: flex;
    cursor: pointer;
    margin: 0.5rem 0;
    transition: 0.3s;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid $border;

    &:hover {
      opacity: 0.7;
    }

    & > img {
      width: 30%;
      border-radius: 0.5rem 0 0 0.5rem;
    }

    & > p {
      display: box;
      line-clamp: 1;
      overflow: hidden;
      padding: 0 0.5rem;
      font-weight: bold;
      display: -webkit-box;
      box-orient: vertical;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    @include medium-up() {
      width: 10rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
    }
  }

  &__send {
    display: flex;
    position: relative;
  }

  &__icon {
    top: 12px;
    left: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: $text-gray;
    position: absolute;
  }

  &__button {
    margin: 0;
    padding: 0.9rem;
    border-radius: 0 0 0.3rem 0;
  }
}

.textarea {
  width: 90%;
  resize: none;
  font-size: 0.8rem;
  border: 1px solid $border;
  background-color: $body-bg;
  padding: 0.6rem 2rem 0.2rem;
  border-radius: 0 0 0 0.3rem;
  box-shadow: 0px 2px 10px -1px $card-shadow;
}

.notification {
  top: 0;
  right: 0;
  color:$blue;
  margin: 20px;
  z-index: 1000;
  position: fixed;
  padding: 1.2rem;
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid $blue;
  background-color: white;
  border-right: 4px solid $blue;
  animation: intro 0.2s ease-in;
  border-radius: 0.3rem 0 0 0.3rem;

  span {
    top: -4px;
    left: 2px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: left;
    font-size: 1.5rem;
    position: absolute;
  }
}

@keyframes intro {
  from {right: -300px;}
  to {right: 0px;}
}